@import "tailwindcss";

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #fde937d7;
  --text-color: #343a40;
}

body {
  background-color: var(--background-color);
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}


